<h1>Books</h1>
  <% @books.each do |book| %>
    <div>
      <p><%= link_to book.title, book_path(book.id) %></p>
      <p><%= book.body %></p>
    </div>
  <% end %>

<h1>New Book</h1>
<%= form_with model: @book, url:'/books' do |f| %>
  <p>Titel</p>
    <%= f.text_field :title %>
  <p>Body</p>
    <%= f.text_field :body %>
  <%= f.submit 'Create Book' %>
<% end %>
