<div class="d-flex container px-5 px-sm-0">
<%= render 'side', bookd: @book.user, user: @user, books: @books %>

<div class="container col-md-8 offset-md-1">
<div class="row">
<h1>Book detail</h1>
<table class="table table-striped">
  
<%= form_with model: @book do |f| %>
<tbody>
  <tr>
    <td>
      <%= image_tag @book.user.get_profile_image(100,100) %>
      <div class="d-flex-block"><%= link_to @book.user.name, user_path(@book.user.id) %></div>
    </td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    
    
     <% if @book.user == current_user %>
  　   <td>
  　     <%= link_to edit_book_path(@book.id) do %>
  　       <button style="background-color:limegreen ", class="text-white">Edit</button>
        <% end %>
  　   </td>
    <% end %>
    <% if @book.user == current_user %>
      <td>
        <%= link_to book_path(@book),  method: :delete do %>
          <button style="background-color: red ", class="text-white">Destroy</button>
        <% end %>
      </td>
    <% end %>
    
  </tr>
</tbody>
<% end %>
</table>
</div>
</div>
</div>